.dropdown {
  position: relative;
  display: inline-block;
  &-btn {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    padding: 0.5rem;
    border-radius: 2px;
  }
  &-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
  }
  &-item{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover{
      background-color: #dddddd;
    }
  }
  &:hover &-menu{
    display: block;
  }
  &:hover &-btn{
    background-color: #3e8e41;
  }
}

